extends ./layout.jade

block title
  title gitmatch
block content
  div(class='container-fluid')
    div(class='row')
      .col-md-12.center
      a(class=['btn', 'btn-default', 'btn-lg'] href='auth' role='button') Sign in
