extends ./layout.jade

block title
  title gitmatch
block content
  .container.text-center.homeindex
    .row
      .col-md-12
        h1 gitmatch
        h3 
          p Match developers like you. 
          p And ask them for help on your own projects. 
    .row.desc
      .col-md-12
        p I guess you have a lot of small projects and need help to maintain them uh? 
        p Using gitmatch, you are going to match developers with same test and interests than yours, and we are going to allow you to ask them helping on your projects in few steps.  
    .row
      .col-md-12
        p 
          a.btn.btn-primary.btn-lg(href='auth' role='button') Sign in
