extends ./layout.jade

block title
  title gitmatch - insufficient information
block content
  .container.check-list
    .row
      .col-md-12.text-center
        h1 Your repo is not contribution-friendly!
        h3 But don't worry, here are some simple steps to fix that!
    hr
    .row
      .col-md-12.check-ko
        h4 Missing CONTRIBUTING.md
        p [Green/Red] Your repo is missing contribution guidelines in form of a CONTRIBUTING.md file. We can create one for you with one click, directly in your repo. [Ajax Button to POST /fix/contributingmd]
    .row
      .col-md-12.check-ko
        h4 Not enough issues
        p [Green/Red/Gray] You don't have enough issues in your repo. We recommend at least 5 issues to developer can pick something they like to work with. [link to issues on github / new window]
    .row
      .col-md-12.check-ko
        h4 package.json does not exist
        p [Green/Red/Gray] There's no package.json :(. For now, GitMatch only works with NPM-based projects, so we can compare the libraries you use with other developers. Here's more info on package.json/NPM [link to npm]
    hr
    .row
      .col-md-12.text-center
          a.btn.btn-primary.btn-lg.fixrepo(href="", role="button") Check my repo again
