extends ./layout.jade

block title
  title gitmatch - about
block content
  .container-fluid
    .row
      .col-md-12.text-center
        h1 We are matching your project with contributors!
        img(src="https://cdn2.vox-cdn.com/thumbor/XjfWvizyYYXbALK9tTW8mzLJMMs=/1x0:369x207/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/32606283/q3e87zR.0.gif", style="width: 400px")
    .row
      .col-md-12.text-center
        p Please wait ...
