extends ./layout.jade

block title
  title gitmatch - about
block content
  .container
    .row
      .col-md-12.text-center
        h1 We are matching your project with contributors!
        h3 Lorem ipsum doloret it samet
        hr
    .row.match-list.text-center
      .col-md-3
        .thumbnail
          img(src="https://octodex.github.com/images/filmtocat.png")
          .caption
            h3 name
            p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            p
              a.btn.btn-primary(role="button") Ask for Help
      .col-md-3
        .thumbnail
          img(src="https://octodex.github.com/images/filmtocat.png")
          .caption
            h3 name
            p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            p
              a.btn.btn-primary(role="button") Ask for Help
      .col-md-3
        .thumbnail
          img(src="https://octodex.github.com/images/filmtocat.png")
          .caption
            h3 name
            p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            p
              a.btn.btn-primary(role="button") Ask for Help
      .col-md-3
        .thumbnail
          img(src="https://octodex.github.com/images/filmtocat.png")
          .caption
            h3 name
            p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            p
              a.btn.btn-primary(role="button") Ask for Help
