extends ./layout.jade

block title
  title= "gitmatch : Checking "+repo.name
block content
  .container.check-list
    .row
      .col-md-12.text-center
        h1 Your repo is not contribution-friendly!
        h3 But don't worry, here are some simple steps to fix that!
    hr
    .row
      if !hasContribuingMd
        .col-md-12.check-ko
          h4 Missing CONTRIBUTING.md
          .row
            .col-md-9
              p Your repo is missing contribution guidelines in form of a CONTRIBUTING.md file. We can create one for you with one click, directly in your repo.
            .col-md-3
              a.btn.btn-success.fixrepo(href="/fix/contributingmd", onclick="return false;" role="button") Fix CONTRIBUTING.md
      else
        .col-md-12.check-ok
          h4 CONTRIBUTING.md is present
          .row
            .col-md-9
              p Your repo already have contribution guidelines information.
    .row
      if !hasIssues
        .col-md-12.check-ko
          h4 Not enough issues
          .row
            .col-md-9
              p You don't have enough issues in your repo. We recommend at least 5 issues to developer can pick something they like to work with.
            .col-md-3
              a.btn.btn-success(href="https://github.com/"+user.profile.username+"/"+repo.name+"/issues", target="_blank" role="button") Github Issues
      else
        .col-md-12.check-ok
          h4 At least 5 Issues on the project
          .row
            .col-md-9
              p Your repo already have at least 5 Issues on the project, so you can ask for help.
    .row
      if !hasPackageJson
        .col-md-12.check-ko
          h4 package.json does not exist
          p [Green/Red/Gray] There's no package.json :(. For now, GitMatch only works with NPM-based projects, so we can compare the libraries you use with other developers.
          p
            a(href="http://npmjs.org") Here's
            span more info on package.json/NPM.
      else
        .col-md-12.check-ok
          h4 package.json is present
          .row
            .col-md-9
              p package.json project definition file is already present.
    hr
    .row
      if hasPackageJson && hasIssues && hasPackageJson
        .col-md-12.text-center
            a.btn.btn-primary.btn-lg.fixrepo(href="", role="button") Check my repo again
      else
        .col-md-12.text-center
            lol u suck
