* {
  margin: 0;
  padding: 0;
}

@keyframes pound {
	from { transform: none; }
	50% { transform: scale(1.4); }
	to { transform: none; }
}

i.fa-plus-square {
  color: #bdc3c7;
}

i.fa-plus-square:hover {
  color: #27ae60;
}

.homeindex h1 {
  font-family: "Merriweather", "Roboto", sans-serif;
  font-weight: bold;
  font-size: 6em;
}

.homeindex .desc {
  padding: 20px 0;
}

.heart {
  color: #c00;
  font-size: 1.3em;
  animation: pound 1.5s infinite;
}

.navbar-inverse {
  border-radius: 0 !important;
}

.repo h5 {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.repo .stats {
    border-left: 1px solid #ecf0f1;
    padding-left: 40px;
}

.repo .stats i {
  width: 15px;
}

.repo .url {
  font-size: 0.9em;
  padding: 10px 0 5px 0;
}

h2 {
  font-family: "Merriweather", "Roboto", sans-serif;
  margin-top: 15px;
}
h2 img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

#gw > div {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
}

.match-list .description {
  font-size: 0.9em;
}

.check-list .check-ko {
  border: 1px solid #ecf0f1;
  border-left: 5px solid #c0392b;
  border-radius: 4px;
  margin-bottom: 20px;
}

.check-list .check-ko h4 {
  font-weight: bold;
  color: #c0392b;
}

.check-list .check-ok {
  border: 1px solid #ecf0f1;
  border-left: 5px solid #27ae60;
  border-radius: 4px;
  margin-bottom: 20px;
}

.check-list .check-ok h4 {
  font-weight: bold;
  color: #27ae60;
}

footer {
  margin-top: 30px;
  font-size: 0.9em;
}
